click==8.1.7
colorama==0.4.6
MouseInfo==0.1.3
numpy==1.26.4
opencv-python==4.9.0.80
pillow==10.2.0
psutil==5.9.8
PyAutoGUI==0.9.54
PyDirectInput==1.0.4
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pyperclip==1.8.2
PyRect==0.2.0
PyScreeze==0.1.30
python-dotenv==1.0.1
pytweening==1.0.7
scipy==1.12.0
